@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employee HRM</h1>
    <p>Create, Update, Delete Employees.</p>
    <p>Search from number of employees. Employee management made easy.</p>
</div>
